*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    list-style: none;
    text-decoration: none;
    
}
body, html {
    margin: 0; /* Elimina márgenes del body */
    padding: 0; /* Elimina paddings del body */
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: black;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;

}
.navbar-nav{
    display: flex;
}
.navbar-nav a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navbar-nav a:hover{
    border-bottom: 2px solid white;
}

.inicio{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.inicio .contenido-banner{
    padding: 20px;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.perfil {
    padding: 20px;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    
}
.foto-perfil{
    margin-top: 40px;
    border: 4px solid #000000;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'poppins';
    font-weight: bold;
    color: black;
}
.inicio h2{
    color: #000000;
    font-size: 20px;
}
.inicio .contenido-banner .redes a{
    color: #000000;
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: black;
    color: white;
}
.sobremi{
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'poppins';
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}
.sobremi .contenido-seccion p span{
    font-weight: bold;
}
.sobremi .container.sobremi {
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.5;
    list-style: none;
    margin: 0 auto;
    text-align: justify;
}

.sobremi .container.sobremi li {
 
    justify-content: space-between;
    padding-bottom: 10px;
    font-weight: normal;
}

.sobremi .container.sobremi li span {
    font-weight: bold;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil2{ 
    padding: 20px;
    max-width: 350px;
    margin-left: auto;
    text-align: center;
    border-radius: 40px;
}

.foto-perfil2 {
    margin-top: 40px;
    border: 2px solid #ffffff; 
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
/* Estilos para el botón */
input[type="submit"] {
    font-family: poppins;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

input[type="submit"]:hover {
    color: black;
    background: white;
    cursor: pointer;
}

/* Servicios */
.servicios {
    background: url(img/fondo.png);
    background-attachment: fixed;
    width: 100%;
    padding: 80px 0; 
}

.servicios h2 {
    font-size: 48px;
    font-family: 'poppins';
    text-align: center;
    padding: 20px 0;
    color: white;
}


/* Contenedores de servicios */
.cont-servicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
    max-width: 1200px; 
    margin: auto;
}

/* Contenedores individuales */
.cont-iconos {
    width: 30%;
    margin: 15px;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: gray;
}

.iconozzz {
    color: black;
    font-size: 38px;
    margin-bottom: 10px;
}

.cont-iconos h3 {
    padding: 10px 0;
    color: black;
    font-size: 22px;
}

.cont-iconos p {
    color: black;
    font-size: 16px;
    text-align: justify;
}
/* portafolio */
.portafolio{
    background-color: white;
    color: #fff;
    padding: 50px 20px;
}
.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio h2{
    font-size: 48px;
    font-family: 'poppins';
    text-align: center;
    padding: 20px 0;
    color: black;
}
.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .portafolio .galeria .proyecto{
        margin: 10px auto;
    }
    .foto-perfil2 {
        margin: 10px auto;
        text-align: center;
    }
}



.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
.portafolio .galeria a {
    color: inherit; 
    text-decoration: none;
  }
  
  .portafolio .galeria a:hover {
    color: inherit;
    text-decoration: none; 
  }
  
/* Testimonios */
.testimonio {
    background: black;
    width: 100%;
    padding: 80px 0;
}

.testimonio h1 {
    font-size: 48px;
    font-family: 'poppins';
    text-align: center;
    padding: 20px 0;
    color: white;
    text-align: center; /* Centrar el título */
}


.slider-testimonial {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.testimonial-item {
    width: 250px;
    margin: 20px;
}

.testimonial-client{
	margin-bottom: 15px;
}

.testimonial-client img{
	margin: auto;
	border-radius:50%;
	width:250px;
	height:250px;
    border: 4px solid white;
}

.cliente-name{
	color: white;
	font-size:24px;
	font-weight: bold;
	font-family: 'poppins';
	text-align: center;
	margin: 10px;
}


.testimonial-text p {
    color: white;
    font-family: 'poppins';
    font-size: 18px;
    text-align: center;
    text-align: justify;
    margin: 10px 0; /* Añadir márgenes para separar el texto */
}

.sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* contacto */
.contacto {
    background-color: white;
    color: black;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'poppins';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.contacto .col.formulario {
    height: 100%; 
}

.contacto .col input, .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 10px; 
    border: none;
    margin-bottom: 10px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;}

.contacto .col textarea {
    height: 120px;
}

input[name="envio"] {
    font-family: poppins;
    cursor: pointer;
    background-color: white;
    border: none;
    width: fit-content;
    padding: 8px 18px;
    font-size: 14px;
    color: black;
    background: white;
    position: relative;
    z-index: 10;
    align-self: center; 
}

input[name="envio"]:hover {
    color: black;
    background: white;
    border: 2px solid black;
}

/* Estilo para la imagen */
.contacto .col img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}


footer {
    width: 100%;
    padding: 30px 5px 30px 5px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: black;
    color: #FFFFFF;
}
.footer {
    text-align: left;
    width: 320px;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
}
/* Adaptaciones para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    /* Ajustes en el header */
    header {
        padding: 20px 5%;
    }

    .logo {
        font-size: 24px;
    }

    .navlist {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background: black;
    }

    .navlist a {
        margin: 10px 0;
        text-align: center;
        font-size: 18px;
    }


    /* Estilos para el menú desplegable en móviles */
    .navlist.active {
        display: flex;
    }

    /* Ajustes en la sección de inicio */
    .inicio .contenido-banner {
        max-width: 100%;
        padding: 10px;
    }

    .inicio .contenido-banner h1 {
        font-size: 32px;
    }

    .inicio .contenido-banner h2 {
        font-size: 20px;
    }

    .inicio .contenido-banner .redes a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
    }


    /* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .perfil2 .foto-perfil2 img {
    margin: 20px auto;
    text-align: center;
    }
}
    .cont-servicio {
        flex-direction: column;
        align-items: center;
    }

    .cont-iconos {
        width: 80%;
        margin: 15px 0;
    }    

    .portafolio .proyecto {
        max-width: 100%;
    }

    .testimonial-item {
        width: 100%;
    }

    .contacto .fila {
        flex-direction: column;
    }

    .contacto .col {
        width: 100%;
        margin-bottom: 20px;
    }

}
